* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  position: relative;
}

.heading {
  font-size: 1.5em;
  margin: 0;
}

.navigation {
  position: absolute;
  height: 100%;
  width: 8%;
  background-color: #808080;
}

.navigation:hover {
  width: 17%;
  transition: width 1s ease-in-out;
}

.nav_ul {
  list-style-type: none;
  height: 65px;
  width: 100%;
  padding-left: 0;
  text-align: center;
}

.nav {
  height: 65px;
  width: 100%;
  padding: 25px;
  color: white;
}

.text-nav {
  padding-left: 25px;
  display: none;
}

.navigation:hover .text-nav {
  display: inline;
}

.nav:hover {
  background-color: #5e5e5e;
}

img {
  margin-top: -17px;
  position: fixed;
  left: 20px;
}

.history {
  padding-right: 8px;
}

.favorites {
  padding-left: 32px;
}

.edit {
  padding-right: 40px;
}

h2 {
  font-size: 16px;
  color: white;
}

.text {
  padding: 30px 100px;
}
