.Phone {
  background-color: #cfc7c9;
  padding: 50px;
  margin: 50px;
  margin-top: 20px;
  margin-right: 65%;
  color: white;
}

.Apple {
  background-color: #c66376;
  padding: 2%;
  list-style-position: inside;
}

ol li::marker {
  background-color: #c66376;
  color: white;
}

ol {
}
