h1 {
  text-align: center;
  font-size: 24px;
  color: #473c8b;
}
h2 {
  color: #768295;
}
p {
  text-align: left;
}
.qwert {
  color: #768295;
}
h3 {
  color: #768295;
}
.qwerty {
  color: #768295;
}
.qwertyu {
  color: #768295;
}
