.Phone {
  background-color: #ed9eae;
  padding: 25px;
  margin: 50px;
  margin-top: 20px;
  margin-right: 65%;
  color: white;
  margin-left: 25px;
}

.Apple {
  background-color: #c66376;
  padding: 2%;
  list-style-position: inside;
}

li::marker {
  color: white;
}

span {
  background-color: #9e354a;
  padding: 2%;
}

li {
  margin-block: 3%;
}
